{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="col-md-12">
    <div class="card card-container">
        <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="profile-img" class="profile-img-card"/>
        <form action="{{ url_for('auth.login') }}" method="post" id="login_form">
            <div class="hidden">
                {{ form.csrf_token }}
            </div>
            {{ wtf.form_field(form.username) }}

            {{ wtf.form_field(form.password) }}

            {{ wtf.form_field(form.submit) }}
        </form>
        <br/>
    </div>
</div>
{% endblock %}