
.container {
    background: white;
    width: 65%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15;
    height:100vh;
}
label {
    display: block;
    margin-top: 10px;
}

.card-container.card {
    max-width: 350px !important;
    padding: 40px 40px;
}

.wide-card-container.card {
    max-width: 70%;
    padding: 40px 40px;
}

.card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#need_account {
    display: center;
    text-align: center;
}
a.dropdown-toggle {
   border: none;
   outline: none;
   text-decoration: none;
   color: rgba(255,255,255,.5);
}
.nav-item {
    padding: 5px;
}
.btn-group {
    width: 100%
}
.dropdown-menu.show {
    width: 95%;
}
.multiselect-container .multiselect-filter > input.multiselect-search {
    border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
    border-bottom: 1px solid lightgrey;
    padding-left: 2rem;
    margin-left: 0rem !important;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
table {
    width: 100%;
}