{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div>
    <h3>Fatal Error Occurred</h3>
    <p>A fatal startup error has occured if you are the systems administrator. Please check the logs for more information. Otherwise, reach out to the systems administrator to report this issue.</p>
</div>
{% endblock %}