{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Website Template{% else %}Welcome to Website Template{% endif %}
{% endblock %}

{% block navbar %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" type="text/css">
    <link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Website Template</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if not current_user.is_anonymous %}
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link mx-3" href="{{ url_for('main.index') }}">Home</a>
                        <div class="nav-item dropdown mx-3">
                            <a data-toggle="dropdown" class="dropdown-toggle" id="admin_ddl" aria-haspopup="true" aria-expanded="false" href="#">Admin <strong class="caret"></strong></a>
                            <div class="dropdown-menu" aria-labelledby="admin_ddl">
                                <a class="dropdown-item" href="#">Admin Dashboard</a>
                                <a class="dropdown-item" href="#">Create User</a>
                                <a class="dropdown-item" href="#">Edit User</a>
                            </div>
                        </div>
                        <a class="nav-item nav-link mx-3" href="#">Help</a>
                        <a class="nav-item nav-link mx-3" href="#">Profile</a>
                        {% if session['permission'] == 1 %}
                            <!-- This is needed only if multiple organizations/locations exist
                            <a class="nav-item nav-link mx-3" href="#">Change Location</a>-->
                        {% endif %}
                    </div>
                    {% endif %}
                <div class="navbar-nav">
                    {% if current_user.is_anonymous %}
                        <a class="nav-item nav-link mx-3" href="{{ url_for('auth.login') }}">Login</a>
                    {% else %}
                        <a class="nav-item nav-link mx-3" href="{{ url_for('auth.logout') }}">Logout</a>
                    {% endif %}
                </div>
            </div>
        </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "message" %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% else %}
                    <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='js/site.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
{% endblock %}